*{
    margin: 0px;
    padding: 0px;
}
html{
    overflow-x: hidden;
}
#navbar {
    background: #000;
}
#navbar article   {
    display: flex;
    /* justify-content: space-evenly; */
    
}
#navbar article div a {
    color: black;
}
#navbar article div a {
    text-decoration: none;
    margin: 28px;
    margin-right: 50px;
    font-size: 17px;
    /* color: white; */
}
#navbar .nav{
    margin-left: 200px;
    margin: 100px;
    margin-top: 5px;
}
/* =============hero section  ==============*/
#hero article div img{
    height: 600px;
    width: 1600px;
    margin-top: -80px;
}
#hero .text div  {
    margin-left: 500px;
    padding-bottom: -100px;
}
/* ======================SECOND NAV========== */
#secondnav .nav  {
    display: flex;
    margin: 20px;
    justify-content: space-evenly;
}
#secondnav .nav div a  {
    color: black;
    text-decoration: none;
    text-decoration: none;
}
#secondnav .line{
    margin-top: 100px;
}
/* =============main section=============== */

#main .img div img{
    height: 400px;
    width: 700px;
    margin-left: 650px;
    margin-top: 60px;
    
}

#main article div  h3 {
    margin-top: -400px;
    margin-left: 250px;
    color: rgba(0, 0, 0, 0.548);
    font-size: 40px;
}
#main article h1{
    margin-top: 10px;
    margin-left: 170px;
    color: rgba(0, 0, 0, 0.433);
}
#main article h4{
    margin-top: 150px;
    margin-left: 250px;
    color: rgba(0, 0, 0, 0.548);
    font-size: 60px;
}
#main article h2{
    margin-bottom: 100px;
    margin-left: 750px;
    color: rgba(0, 0, 0, 0.548);
    font-size: 20px;
}
#main .imgsection div img {
    height: 400px;
    width: 350px;
    
}
#main .imgsection  {
    display: flex;
    /* margin-left: 150px; */
    justify-content: space-evenly;
    margin-top: 150px;
}
#main .text .text1{
    margin-left: 120px;
    margin-top: 30px;
    font-size: 25px;
    color: rgba(0, 0, 0, 0.418);
}
#main .text .text2{
    margin-left: 580px;
    margin-top: -10px;
    font-size: 21px;
    color: rgba(0, 0, 0, 0.418);
}
#main .text .text3{
    margin-left: 1100px;
    margin-top: -20px;
    font-size: 21px;
    color: rgba(0, 0, 0, 0.418);
}
/* ==================heads============== */
#heads .head1{
    margin-top: 90px;
    font-size: 52px;
    margin-left: 200px;
    color: rgba(0, 0, 0, 0.57);
}
#heads .head2{
    margin-top: 60px;
    /* font-size: 52px; */
    margin-left: 200px;
    color: rgba(0, 0, 0, 0.57);
}
#heads .logo{
    margin-left: 200px;
    margin-top: 20px;
}
#heads .head3{
    margin-left: 230px;
    margin-top: -20px;
font-size: 20px;
color: rgba(0, 0, 0, 0.899);
font-weight: 300;
}
#heads .line{
    margin-left: 200px;
    margin-top: 20px;
    margin-right: 1000px;
    
}
#heads .head4{
    margin-left: 200px;
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.614);
}
#heads .logo1{
    margin-left: 200px;
    margin-top: 10px;
}
#heads .head5{
    margin-left: 230px;
    margin-top: -24px;
font-size: 20px;
color: rgba(0, 0, 0, 0.899);
font-weight: 300;
}
#heads .line1{
    margin-left: 200px;
    margin-top: 20px;
    margin-right: 1000px;
    
}
#heads .head6{
    margin-top: 10px;
    /* font-size: 52px; */
    margin-left: 200px;
    color: rgba(0, 0, 0, 0.57);
}
#heads .logo2{
    margin-left: 200px;
    margin-top: 10px;
}
#heads .head7{
    margin-left: 230px;
    margin-top: -20px;
font-size: 20px;
color: rgba(0, 0, 0, 0.899);
font-weight: 300;
}
#heads .line2{
    margin-left: 200px;
    margin-top: 20px;
    margin-right: 1000px;
    
}